
html,body {
	overflow-x: hidden;
	overflow-y: scroll;
}


div.shadow {
	position:absolute;
    max-width:45%;
    max-height:45%;
    top:35%;
    left:50%;
    overflow:visible;
}

img.logo{
	
    position:relative;
    max-width:100%;
    max-height:100%;
    margin-top:-50%;
    margin-left:-50%;

}

.header
{
	margin-top: 0%;
	float: right;
}

.header a, .header button
{
	margin: 5px;
	color: #000;
	text-decoration: none;
}

.header button
{
	background: #4484f1;
	padding: 8px;	
	font-size: 15px;
	color: #fff;
	border-radius: 10%;
}

.searchbox
{
	width :30%;
	height: 35px;
	margin: 4px;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 25px;
	position: fixed;
	top: 43%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input
{ border:0;
}

.buttonholder
{	display: inline-block;
	margin-right: 20px;
    position: fixed;
	top: 49%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

